@model Ansatt

<form method="post" >
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-bg-danger-primart">Endre Ansatt</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Navn"></label>
            <input asp-for="Navn" class="form-control" />
            <span asp-validation-for="Navn" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Endre</button>
        <a asp-controller="Ansatt" asp-action="Index" class="btn btn-sec">Tilbake</a>
    </div>
</form>

<!--validate on client side -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
